header {
    background-color: #7f8c8d;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.menu-button {
	background-color: #000000;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}

#actif {
    text-decoration: underline;
}

.presentation {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.presentation h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #000000;
}

.presentation p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.image img {
	text-align: center;
    display: block;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

footer {
    bottom: 0;
    left: 0;
    width: 97%;
    background-color: #7f8c8d;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}