header {
    background-color: #7f8c8d;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.menu-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#actif {
    text-decoration: underline;
}

.character-list {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.character {
    width: 40%;
    margin: 0 auto 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.character img {
    display: block;
    width: 50%;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.character h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.character p {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    background-color: #7f8c8d;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}